<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".notifications.data.SlagalicaMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name=".MatchLobbyActivity" />
        <activity android:name=".MultiplayerAssociationsActivity" android:screenOrientation="portrait" />
        <activity android:name=".MultiplayerSkockoActivity" android:screenOrientation="portrait" />
        <activity android:name=".MultiplayerStepByStepActivity" android:screenOrientation="portrait" />
        <activity android:name=".MultiplayerMyNumberActivity" android:screenOrientation="portrait" />
        <activity android:name=".MultiplayerQuizActivity" android:screenOrientation="portrait" />
        <activity android:name=".MultiplayerConnectionsActivity" android:screenOrientation="portrait" />
        <activity android:name=".NotificationsActivity" />
        <activity android:name=".SkockoActivity" />
        <activity android:name=".AssociationsActivity" />
        <activity android:name=".ConnectionsActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".StatisticsActivity" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".MyNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StepByStepActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".RegistrationConfirmationActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
